.Nav{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    color: rgb(129, 81, 151);
    padding: 1em;
}
.Nav a{ 
color: black;
   text-decoration: none;
}
